vgiik.suo
*.user
packages
T034.Db/obj
T034.Db/bin
T034/obj
T034/bin
T034.Db/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
T034.Db/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
T034/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
publish
T034/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
T034.Db/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
T034/Logs
T034/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/vgiik/v16/.suo
.vs/vgiik/config/applicationhost.config
T034.Db/obj/
