body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    padding: 0 0 0 0;
}


.menu
{
    height: 52px;
    width: 800px;
    padding: 0 0 0 0;
}

.main
{
    height: 800px;
    width: 800px;
    padding: 0 0 0 0;
    text-align: center;
}

.banner
{
    height: 200px;
    width: 800px;
    padding: 0 0 0 0;
}

.text
{
    font-size: 12px;
    font-family: Verdana, Helvetica, Sans-Serif;
    color: #01182f;
    background-color: #ffffff;
    text-align: justify;
    padding: 20px 80px 20px 80px;
    text-indent: 30px;
}

.maintext
{
    font-size: 13px;
    font-family: Verdana, Helvetica, Sans-Serif;
    color: #01182f;
    text-align: justify;
    text-indent: 30px;
}

.liheader
{
    font-size: 12px;
    font-family: Verdana, Helvetica, Sans-Serif;
    color: #0298de;
    text-align: justify;
    font-weight: bold;
    text-indent: 0px;
}

.nameheader
{
    font-size: 14px;
    font-family: Verdana, Helvetica, Sans-Serif;
    color: #0298de;
    text-align: justify;
    font-weight: bold;
}

.bottommenu
{
    font-size: 12px;
    font-family: Verdana, Helvetica, Sans-Serif;
    color: #0066cc;
    background-color: #a3caef;
    text-align: center;
    height: 25px;
    padding-top: 6px;
    margin: 0 0 0 0;
    background: url("pic/bm.png") repeat scroll 0 0 #fff;
}

.myheader
{
    font-size: 15px;
    font-family: Verdana, Helvetica, Sans-Serif;
    color: #282e5c;
    text-align: center;
    font-weight: bold;
}


/* Styles for bottom menu link
-----------------------------------------------------------*/

A.bmenu
{
	font-size: 11px;
        font-family: Verdana, Helvetica, Sans-Serif;
	color: #f60707;
	text-decoration: none;
	font-align: right;
	padding: 0px 10px 0 100px;
	font-variant: small-caps;
	font-weight: bold;
}

A.bmenu:hover
{
	color: #f60707;
	text-decoration: none;
}

A.bottommenu
{
    font-size: 12px;
    font-family: Verdana, Helvetica, Sans-Serif;
    color: #0066cc;
    background-color: #a3caef;
    text-align: center;
    height: 25px;
    padding-top: 6px;
    margin: 0 0 0 0;
    background: url("pic/bm.png") repeat scroll 0 0 #fff;
    text-decoration: none;
    font-weight: bold;
}

A.bottommenu:hover
{
	color: #0298de;
	text-decoration: none;
}

A.inside
{
    font-size: 12px;
    font-family: Verdana, Helvetica, Sans-Serif;
    color: #0298de;
    text-decoration: none;
    text-align: justify;
    font-weight: bold;
    text-indent: 0px;
}

A.inside:hover
{
	color: #f60707;
	text-decoration: none;
}



#right 
{ 
	text-align: right;
}


header,
footer,
nav,
section {
    display: block;
}




/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
