<div class="bottommenu">
    <a href="/Page/Index/100" class="bottommenu">Документы</a> :: 
    <a href="/Page/Index/200" class="bottommenu">Услуги и цены</a> :: 
    <a href="/Page/Index/300" class="bottommenu">Фото и видео</a> :: 
    <a href="/Page/Index/400" class="bottommenu">Контакты</a> :: 
    <a href="/Page/Index/500" class="bottommenu">О нас</a>
</div>
