<h4>Р/сч 40703810111150100260</h4>
<h4>Отделение № 8621 Сбербанка России г.  Волгоград</h4>
<h4>БИК 041806647</h4>
<h4>К/сч 30101810100000000647</h4>
<h4>ИНН 3441013182</h4>
<h4>КПП 344101001</h4>

<h4>ОГРН 1023402458364</h4>

<h4>Юр. адрес: 400033, г. Волгоград, ул. Н. Отрады, д. 11 , к. 112</h4>
<h4>Факт.адрес: 400125, г.Волгоград, ул. Грамши, 53</h4>
<h4>Почтовый адрес: 400033, г. Волгоград, ул. Н. Отрады, д. 11 , к. 112</h4>
<h4>Тел./факс: 8(8442)52-58-21</h4>
<h4>Электронная почта: docfis@mail.ru</h4>
    
<h4>Председатель правления  Шишлов А.Н.</h4>
<h4>Действует на основании Устава</h4>

<h4>Гл. бухгалтер Солтанова Е.К.</h4>