<p class="text">Юр. адрес: 400033, г. Волгоград, ул. Н. Отрады, д. 11 , к. 112</p>
<p class="text">Факт.адрес: 400125, г.Волгоград, ул. Грамши, 53</p>
<p class="text">Почтовый адрес: 400033, г. Волгоград, ул. Н. Отрады, д. 11 , к. 112</p>
<p class="text">Тел./факс: 8(8442)52-58-21</p>
<p class="text">Электронная почта: docfis@mail.ru</p>
<p class="text">Директор «Центра», Заслуженный тренер России Шишлов Анатолий Николаевич моб.тел. 8-902-382-90-72</p>
<p class="text">Заместитель директора Буласов Геннадий Геннадьевич моб.тел. 8-927-506-82-86</p>
<p class="text">Гл. бухгалтер Солтанова Е.К.</p>