<div class="btn-group" role="group">
	<div class="btn-group" role="group"><a href="/Page/Index/1">Новости</a></div>
	<div class="btn-group" role="group"><a href="/Page/Index/2">Цели и задачи</a></div>
	<div class="btn-group" role="group"><a href="/Page/Index/3">Услуги и цены</a></div>
	<div class="btn-group" role="group"><a href="/Page/Index/4">Фото</a></div>
	<div class="btn-group" role="group"><a href="/Page/Index/5">О нас</a></div>
	<div class="btn-group" role="group"><a href="/Page/Index/6">Контакты</a></div>
</div>
