@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    @Html.Partial("Contacts")
    <br>
    <h3 class="text-center">Схема проезда от ЖД вокзала Волгоград-1 до гостиницы "Каскад", ул.Грамши, 53</h3>
    <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=AZXOiF1zIYk2uh28uIz3h9jICDXbVMZR&width=760&height=664&lang=ru_RU&sourceType=constructor"></script>
</div>
