@{
    ViewBag.Title = "Услуги и цены";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h5><a target="blank" href="/Upload/Files/Коммерческое предложение.pdf">Коммерческое предложение.pdf</a></h5>
    <h5><a target="blank" href="/Upload/Files/Летний оздоровительный отдых.pdf">Летний оздоровительный отдых.pdf</a></h5>
</div>
