@{
    ViewBag.Title = "Документы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        jQuery('a[rel*=lightbox_s]').lightBox();
    });
</script>
<div class="content">
    <div class="row">
        <div class="col-xs-6 col-md-4">
        </div>
        <div class="col-xs-6 col-md-4 text-center">
            <a rel="lightbox_s" href="/Upload/Images/docs/Document-page-001.jpg"><h4>Реквизиты организации</h4></a>
        </div>
        <div class="col-xs-6 col-md-4">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a rel="lightbox_s" href="/Upload/Images/docs/не принимается без этого свид-ва.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/не принимается без этого свид-ва.JPG" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a rel="lightbox_s" href="/Upload/Images/docs/не принимается без этого свид-ва0001.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/не принимается без этого свид-ва0001.JPG" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a rel="lightbox_s" href="/Upload/Images/docs/не принимается без этого свид-ва0002.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/не принимается без этого свид-ва0002.JPG" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a rel="lightbox_s" href="/Upload/Images/docs/учредительные доки0008.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/учредительные доки0008.JPG" alt="">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <a rel="lightbox_s" href="/Upload/Images/docs/учредительные доки.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/учредительные доки.JPG" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-6">
            <a rel="lightbox_s" href="/Upload/Images/docs/учредительные доки0001.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/учредительные доки0001.JPG" alt="">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <a rel="lightbox_s" href="/Upload/Images/docs/учредительные доки0002.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/учредительные доки0002.JPG" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-6">
            <a rel="lightbox_s" href="/Upload/Images/docs/учредительные доки0003.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/учредительные доки0003.JPG" alt="">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a rel="lightbox_s" href="/Upload/Images/docs/учредительные доки0004.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/учредительные доки0004.JPG" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a rel="lightbox_s" href="/Upload/Images/docs/учредительные доки0005.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/учредительные доки0005.JPG" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a rel="lightbox_s" href="/Upload/Images/docs/учредительные доки0006.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/учредительные доки0006.JPG" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a rel="lightbox_s" href="/Upload/Images/docs/учредительные доки0007.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/учредительные доки0007.JPG" alt="">
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a rel="lightbox_s" href="/Upload/Images/docs/учредительные доки0009.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/учредительные доки0009.JPG" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a rel="lightbox_s" href="/Upload/Images/docs/учредительные доки0010.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/учредительные доки0010.JPG" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a rel="lightbox_s" href="/Upload/Images/docs/учредительные доки0011.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/учредительные доки0011.JPG" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a rel="lightbox_s" href="/Upload/Images/docs/учредительные доки0012.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/учредительные доки0012.JPG" alt="">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a rel="lightbox_s" href="/Upload/Images/docs/учредительные доки0013.JPG" class="thumbnail">
                <img src="/Upload/Images/docs/учредительные доки0013.JPG" alt="">
            </a>
        </div>
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog contacts">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                    <h4 class="modal-title" id="myModalLabel">Реквизиты</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("Contacts")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Закрыть</button>
                </div>
            </div>
        </div>
    </div>
