@{
    ViewBag.Title = "О нас";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        jQuery('a[rel*=lightbox_s]').lightBox();
    });
</script>
<p class="text">
    На Волге много чудесных мест. Великая река пересекает равнины и возвышенности, катит свои воды мимо сотен городов и селений. Там, где Ахтуба ответвляется от Волги, она предстает в изумрудной зелени дубрав и
    лугов, в зеркальной глади проток и озер. Здесь начинается Волго-Ахтубинская пойма – жемчужина Нижнего
    Поволжья, зеленый оазис среди засушливых степей. С 1991 года в этом благодатном крае ведет спортивно-
    оздоровительную работу Волгоградская региональная общественная организация “ Детский оздоровительный центр физической культуры
    и спорта” ( “Центр”). Спортивный “Центр” располагает несколькими гостиницами, тремя турбазами, санаторием-
    профилакторием, яхт-клубом, четырьмя спортзалами 36х 18 метров, восстановительным центром и автотранспортом.</p>
   <p class="text"> 
За 25 лет организацией проведены сотни Российских официальных соревнований и
оздоровительных мероприятий для детей и взрослых. «Центр» много лет выполняет по своей инициативе
программу «Дети Севера». Каждое лето около 700 детей со всей России оздоравливаются в санаториях
г. Волгограда и на турбазах Волгоградской области. «Центр» организует для них питание, размещение, экскурсии,
соревнования и тренировки. 
</p>    
    @{
        var path = "/Upload/Images/about";
        var directory = new DirectoryInfo(Server.MapPath(path));

        var files = directory.GetFiles();

        foreach (var file in files)
        {

            <div class="row">
                <div class="col-xs-6 col-md-2">
                </div>
                <div class="col-xs-6 col-md-8">
                    <a rel="lightbox_s" href="@path/@file.Name" class="thumbnail">
                        <img src="@path/@file.Name" alt="">
                    </a>
                </div>
                <div class="col-xs-6 col-md-2">
                </div>
            </div>
        }
    }
