@{
    ViewBag.Title = "Услуги и цены";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <p><a target="blank" href="/Upload/Files/Коммерческое предложение.pdf">Коммерческое предложение.pdf</a></p>
    <p><a target="blank" href="/Upload/Files/Летний оздоровительный отдых.pdf">Летний оздоровительный отдых.pdf</a></p>
</div>
